<div class="body-content">
<div class="jumbotron">
    <h1>Backbone/Spring Social/Facebook</h1>
    <p>
	This app provides functions for user management and login using backbone.js 
	&amp; Java Spring Social using Facebook. It is intended to work as a quickstart 
	for other applications.
	</p>
	<p>
	UI adopted from the
	<a href="https://github.com/cccarey/backbone-webpy-openid">backbone-webpy-openid</a>
	project.
    </p>
    <form id="facebook" method="post">
    	<input type="hidden" id="scope" name="scope" value="public_profile,email" />
    </form>
    <p><a class="btn-auth btn-facebook large" id="sign-in">Sign in with <b>Facebook</b></a></p>
    <p><a href="app" id="enter" style="display:none">Enter</a></p>
</div>
</div>