<div class="body-content">
<div class="jumbotron">
    <h1>Backbone/Spring/Google OAuth2</h1>
    <p>
	This app provides functions for user management and login using backbone.js 
	&amp; Java Spring using Google OAuth2. It is intended to work as a quickstart 
	for other applications.
	</p>
	<p>
	UI adopted from the
	<a href="https://github.com/cccarey/backbone-webpy-openid">backbone-webpy-openid</a>
	project.
    </p>
    <p><a class="btn-auth btn-google large" id="sign-in">Sign in with <b>Google</b></a></p>
    <p><a href="app" id="enter" style="display:none">Enter</a></p>
</div>
</div>