<div class="page-header"></div>
<div class="body-content">
<label for="username">User Name</label><br/>
<span id="username">{{username}}</span><br/>
<label for="first_name">EMail</label><br/>
<span id="first_name">{{email}}</span><br/>
<label for="first_name">First Name</label><br/>
<span id="first_name">{{firstName}}</span><br/>
<label for="last_name">Last Name</label><br/>
<span id="last_name">{{lastName}}</span><br/>
<label for="nick_name">Nick Name</label><br/>
<span id="nick_name">{{nickName}}</span><br/>
<hr/>
<a href="#/edit">edit</a> | <a id="back" href="#">back</a>
</div>
