<div class="page-header"></div>
<div class="body-content">
    <div class="well bs-component">
        <form id="sign-in" method="post" class="form-horizontal">
            <input type="hidden" id="scope" name="scope" value="" />
            <fieldset>
                <legend>User</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="username">User Name</label>
                    <div class="col-lg-10 form-control-static" id="username">{{username}}</div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="first_name">EMail</label>
                    <div class="col-lg-10 form-control-static" id="first_name">{{email}}</div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="first_name">First Name</label>
                    <div class="col-lg-10 form-control-static" id="first_name">{{firstName}}</div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="last_name">Last Name</label>
                    <div class="col-lg-10 form-control-static" id="last_name">{{lastName}}</div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="nick_name">Nick Name</label>
                    <div class="col-lg-10 form-control-static" id="nick_name">{{nickName}}&nbsp;</div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
		                <button id="edit" class="btn btn-primary">edit</button>
		                <button id="back" class="btn btn-default">back</button>
	                </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="connections" class="bs-component">
    </div>
</div>
