<div class="page-header"></div>
<div class="body-content">
	<div class="well bs-component">
		<form id="edit" name="edit" class="form-horizontal">
			<fieldset>
			<legend>Edit</legend>
			<input type="hidden" name="id" id="id" value="{{id}}" />
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">User Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="username" name="username" value="{{username}}" readonly="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="email" name="email" value="{{email}}" readonly="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="first_name" class="col-lg-2 control-label">First Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}" readonly="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="last_name" class="col-lg-2 control-label">Last Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}" readonly="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="nick_name" class="col-lg-2 control-label">Nick Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="nick_name" name="nick_name" value="{{nick_name}}" />
				</div>
			</div>
			<hr/>
			<input type="submit" id="save" value="Save" /> | <input type="button" id="cancel" value="Cancel" />
			</fieldset>
		</form>
	</div>
</div>